html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  font-family: "Open Sans", Verdana, sans-serif;
  /*font-family: "Poppins", sans-serif;*/
}

.strategy__image {
  width: 150px;
}
